.page {
  display: flex;
  flex-direction: column;
}

.page__container {

  min-width: 320px;

  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Fira Sans', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url(../../images/background-body.png) no-repeat;
  background-position-x: 50%;
}
@media screen and (min-width: 340px){
  .page__container {
  width: 100%;
}
}
