@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url("FiraSans-Regular.woff2") format("woff2"),
       url("FiraSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url("FiraSans-Medium.woff2") format("woff2"),
       url("FiraSans-Medium.woff") format("woff");
}

